/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.job-logs {
  min-height: 20vh;
  max-height: calc(100vh - 8rem);
}

.job-status-ball-initiated,
.job-status-ball-running,
.job-status-ball-done,
.job-status-ball-errored {
  border-radius: 1000px;
  border: 1px solid #d1d1d1;
  display: inline-block;
  height: 14px;
  margin-right: 14px;
  margin-top: 6px;
  width: 14px;
}

.job-status-ball-initiated {
  background: #eee; /* gray */
}

.job-status-ball-running {
  background: #96ccff; /* blue */
}

.job-status-ball-done {
  background: #9eebcf; /* green */
}

.job-status-ball-errored {
  background: #ff4136; /* red */
}
