@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

#body {
  cursor: default;
  font-size: 1rem;
  max-width: 720px;
  padding: 30px 30px 0px 30px;
}

#body, #body * {
  font-family: 'Roboto Mono', monospace;
}

/* small */
@media screen and (min-width: 45em) {
}

/* not small?? */
@media screen and (min-width: 45em) {
}

/* medium */
@media screen and (min-width: 45em) and (max-width: 60em) {
}

/* large */
@media screen and (min-width: 60em) {
}
