html, body {
  cursor: default;
  margin: 0;
  padding: 0;
}

html, body, textarea {
  font-family: PT Mono, monospace;
  font-size: .95rem;
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: baskerville, serif;
  font-weight: 500;
}

input + input,
input + select,
select + select,
select + input {
  margin-left: 5px;
}

.page-header {
  border-bottom: 1px solid #c2c2c2;
}

.page-header-content,
.page-content {
  margin: 0 auto;
  max-width: 720px;
  padding: 10px;
}

.page-header a {
  color: black;
  text-decoration: none;
}

.page-header a + a::before {
  color: #d6d6d6;
  content: '/';
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
}

.page-header a.active {
  font-weight: bold;
}

.page-header-active {
  transition: opacity .2s;
}

.page-header-active:active,
.page-header-active:focus,
.page-header-active:hover {
  opacity: 1;
}

@media screen and (max-width: 45em) {
  .page-header-active {
    opacity: 0;
  }
}

.entries-action-header {
  margin-bottom: 10px;
  padding-top: 10px;
}

/* medium+ */
@media screen and (min-width: 45em) {
  .entries-action-header {
    display: flex;
  }

  .entries-action-header-col {
    width: 50%;
  }

  .entries-action-header-col + .entries-action-header-col {
    text-align: right;
  }
}

.entries-action-header-col .react-datepicker-wrapper input {
  text-align: center;
  width: 90px;
  margin-right: 5px;
}

.entries-textarea {
  border-bottom: 1px solid #acacac;
  border: none;
  outline: none;
  padding: 2px 0;
  resize: none;
  width: 100%;
}

.entries-empty {
  padding-bottom: 10px;
  padding-top: 50px;
  text-align: center;
}

.entry {
  border-top: 1px solid #f0f0f0;
  padding: 8px 0;
}

.entry-data-item {
  border-radius: 2px;
  border: 1px solid #cccccc;
  color: #525252;
  display: inline-block;
  font-size: .85rem;
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px 8px;
}

.query {
  display: flex;
}

.query .w100 {
  width: 100%;
}

.query .query-textarea {
  box-sizing: border-box;
  outline: none;
  width: 100%;
}

.query-message {
  font-size: .85rem;
  font-weight: bold;
  padding: 5px;
}

.query-message-error {
  background-color: #fff5f5;
  border: 1px solid #ff8f8f;
}

.schema {
  border-left: 1px solid #d6d6d6;
  display: none;
  margin-left: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 45em) {
  .schema {
    display: block;
  }
}

.schema-book + .schema-book {
  margin-top: 20px;
}

.schema-book-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.schema-field {
  padding: 2px 0;
  white-space: nowrap;
}

.schema-field-name {
  padding: 0 5px;
}

.schema-field-type {
  background: whitesmoke;
  border: 1px solid #d6d6d6;
  display: inline-block;
  font-size: .8rem;
  padding: 2px 4px;
  text-transform: lowercase;
}

.schema-field-type.number {
  background-color: #ff630075
}

.schema-field-type.string {
  background-color: #9eebcf63;
}

.schema-field-type.boolean {
  background-color: #96ccff6b;
}

.report {
  padding-bottom: 100px;
}

.report-label {
  border-bottom: 1px solid #cfcfcf;
  display: inline-block;
  margin-bottom: 30px;
}

.report-variable-fields {
  margin-bottom: 30px;
}

.report-variable-fields label span {
  padding-right: 5px;
}

.report-variable-fields label select {
  position: relative;
  top: -1px;
}

.output {
  margin-bottom: 20px;
}

.output.value-output {
  margin-right: 20px;
}

.output .output-label {
  font-family: baskerville, serif;
  font-weight: 500;
  padding: 10px 0 10px 0;
  text-align: center;
}

.output .output-no-data {
  border: 1px solid #f2f2f2e6;
  padding: 25px;
  text-align: center;
}

.value-output {
  display: inline-block;
  border: 1px solid #f2f2f2e6;
}

.value-output-wrapper {
  padding: 0px 0px 10px 0px;
  text-align: center;
  width: 150px;
}

.value-output .value-output-value {
  font-size: 2rem;
}

.table-output .output-label {
  border-left: 1px solid #f2f2f2e6;
  border-right: 1px solid #f2f2f2e6;
  border-top: 1px solid #f2f2f2e6;
}

.table-output {
  min-width: 50%;
}

.table-output-table {
  width: 100%;
}

.table-output-table,
.table-output-table tr,
.table-output-table td {
  border-collapse: collapse;
}

.table-output-table td {
  border: 1px solid #e1e1e1;
  padding: 2px 5px;
}

.table-output-table thead td {
  text-align: center;
}

.table-output-type-timestamp,
.table-output-type-number {
  text-align: right;
}

.table-output-type-boolean {}
.table-output-type-null {}
.table-output-type-string {}
.table-output-type-unknown {}

.chart-output {
  border: 1px solid #f2f2f2e6;
}

.chart-output-wrapper {
  padding: 10px;
}

/* small */
@media screen and (min-width: 45em) {
}

/* not small?? */
@media screen and (min-width: 45em) {
}

/* medium */
@media screen and (min-width: 45em) and (max-width: 60em) {
}

/* large */
@media screen and (min-width: 60em) {
}
