html, body {
  cursor: default;
  margin: 0;
  padding: 0;
}

html, body, textarea {
  font-family: PT Mono, monospace;
  font-size: .95rem;
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: baskerville, serif;
  font-weight: 500;
}

input + input,
input + select,
select + select,
select + input {
  margin-left: 5px;
}

.page-header {
  border-bottom: 1px solid black;
}

.page-header-content,
.page-content {
  margin: 0 auto;
  max-width: 720px;
  padding: 10px;
}

.page-header-content.wide,
.page-content.wide {
  max-width: 1000px;
}

.page-header a {
  color: black;
  text-decoration: none;
}

.page-header a + a::before {
  color: #d6d6d6;
  content: '/';
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
}

.page-header a.active {
  font-weight: bold;
}

.page-header-active {
  opacity: 0;
  transition: opacity .2s;
}

.page-header-active:active,
.page-header-active:focus,
.page-header-active:hover {
  opacity: 1;
}

.entries-action-header {
  margin-bottom: 10px;
  padding-top: 10px;
}

/* medium+ */
@media screen and (min-width: 45em) {
  .entries-action-header {
    display: flex;
  }

  .entries-action-header-col {
    width: 50%;
  }

  .entries-action-header-col + .entries-action-header-col {
    text-align: right;
  }
}

.entries-action-header-col .react-datepicker-wrapper input {
  text-align: center;
  width: 90px;
  margin-right: 5px;
}

.entries-textarea {
  border-bottom: 1px solid #acacac;
  border: none;
  outline: none;
  padding: 2px 0;
  resize: none;
  width: 100%;
}

.entries-empty {
  padding-bottom: 10px;
  padding-top: 50px;
  text-align: center;
}

.entry {
  border-top: 1px solid #f0f0f0;
  padding: 8px 0;
}

.entry-data-item {
  border-radius: 2px;
  border: 1px solid #cccccc;
  color: #525252;
  display: inline-block;
  font-size: .85rem;
  margin-right: 5px;
  margin-top: 5px;
  padding: 2px 8px;
}

.query .query-textarea {
  box-sizing: border-box;
  outline: none;
  width: 100%;
}

.query-results {
  margin-top: 10px;
}

.query-results, .query-results tr, .query-results td {
  border-collapse: collapse;
}

.query-results td {
  border: 1px solid #e1e1e1;
  padding: 2px 5px;
}

.query-res-type-number {
  text-align: right;
}

.query-res-type-boolean {}
.query-res-type-null {}
.query-res-type-string {}
.query-res-type-unknown {}

.query-message {
  display: inline;
  font-weight: bold;
  margin: 5px;
  padding: 2px 5px;
}

.query-message-error {
  background-color: #fff5f5;
  border: 1px solid #ff8f8f;
}

/* small */
@media screen and (min-width: 45em) {
}

/* not small?? */
@media screen and (min-width: 45em) {
}

/* medium */
@media screen and (min-width: 45em) and (max-width: 60em) {
}

/* large */
@media screen and (min-width: 60em) {
}
