<h1>Show Source</h1>

<ul>

  <li>
    <strong>Data source:</strong>
    <%= @source.data_source %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.source_path(@conn, :edit, @source) %></span>
<span><%= link "Back", to: Routes.source_path(@conn, :index) %></span>
