<div style="font-size: 0">
  <% datum.sort.each do |key, val| %>
    <span class="tl break-word ba b--black-30 black-90 code f7 lh-solid dib pa1 mr1 mt1">
      <%= key %>: <%= val %>
    </span>
  <% end %>
</div>
