<div class="entry-item overflow-scroll" data-entry-item="<%= entry.id %>">
  <table>
    <tr>
      <td class="entry-item-text">
        <%= link_to entry.text.strip, book_entry_url(entry.book.slug, entry.id),
          :class => "code f6 mw6 dib break-word pre black-90 no-underline" %>
      </td>
      <% if entry.user_data? %>
        <td class="entry-item-data">
          <%= render "entry/datum", :datum => entry.user_data %>
        </td>
      <% end %>
    </tr>
  </table>
</div>
