<div class="entry-list">
  <% entries.each do |entry| %>
    <div class="entry-item">
      <table>
        <tr>
          <td>
            <span class="entry-text"><%= entry.text %></span>
            <span class="entry-controls">
              <a href="<%= entry_path(entry) %>"
                 class="entry-control-delete"
                 data-method="delete"
               ></a>
            </span>
          </td>
          <td>
            <div class="entry-datum">
              <% entry.user_data.each do |key, val| %>
                <span class="entry-data"><%= key %>: <%= val %></span>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  <% end %>

  <script>
    $(".entry-control-delete").click(function (ev) {
      if (!confirm("Are you sure?")) {
        ev.preventDefault()
        return
      }

      $item = $(this).parents(".entry-item")
      $item.animate({ opacity: 0 }, function () {
        $item.slideUp();
      })
    })
  </script>
</div>
