<div class="entry-list">
  <% entries.each do |entry| %>
    <div class="entry-item">
      <table>
        <tr class="controlled">
          <td>
            <span class="entry-text"><%= entry.text %></span>
            <span class="controls">
              <%= link_to image_tag("edit.svg"), entry, :class => "control" %>
              <%= link_to image_tag("trash.svg"), entry,
                :method => :delete,
                :class => "control",
                :data => { :confirm => t(:are_you_sure_q) }
              %>
            </span>
          </td>
          <td>
            <%= render "entry/datum", :entry => entry %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
