/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* --blue: #357edd; */
/* --light-gray-border: rgba(0, 0, 0, .2); */
/* --light-gray: rgba(0, 0, 0, .6); */

/* BASE *******************************************************************/

html, body {
  cursor: default;
  margin: 0;
  padding: 0;
}

html, body, textarea {
  font-family: PT Mono, monospace;
  font-size: 1rem;
  line-height: 1.4;
}

textarea {
  border-color: rgba(0, 0, 0, .2); /* light-gray */
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: baskerville, serif;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

label {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

input[type=checkbox] {
  margin: 0;
}

input[type=text],
input[type=password],
input[type=email] {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: .5rem;
  width: 100%;
}

input[type=submit] {
  font-size: .9rem;
  color: black;
  border: 1px solid black;
  transition: background-color .1s;
  padding: .5rem .75rem;
}

table, tr, td {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

/* HELPERS ****************************************************************/

.mt1 {
  margin-top: 5rem;
}

.right {
  float: right;
}

.field + .field {
  margin-top: 1rem;
}

.field.smaller label {
  font-size: .875rem;
}

/* BUTTON *****************************************************************/

.btn {
  border: 1px solid rebeccapurple;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .6); /* ligth-gray */
  display: inline-block;
  font-size: .9rem;
  padding: .5rem .75rem;
  transition: background-color .1s;
}

.btn + .btn {
  border-left: none;
}

.btn:hover {
  background-color: #fafafa;;
}

/* FLASH ******************************************************************/

#notice, #alert {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#notice {
  background: #e7ffe7;
  border-color: #54f054;
}

#alert {
  background: #ffeaea;
  border-color: #ff3e3e;
}

/* HEADER *****************************************************************/

header {
  padding: .8rem;
}

header table,
header tbody {
  width: 100%;
}

header td {
  width: 50%;
}

header td:nth-child(1) {
  text-align: left;
  width: 1%;
}

header td:nth-child(2) {
  text-align: right;
}

header .logo {
  display: flex;
}

header .logo img {
  height: 30px;
}

header .search {
  display: flex;
  position: relative;
  margin-right: 20px;
}

header .search,
header .search input {
  display: inline;
}

header .search input {
  border: none;
  width: 0;
  margin-right: 40px;
  height: 20px;
  padding: 0;
  outline: none;
  transition: width .5s;
}

header .search:focus input,
header .search:active input,
header .search input:focus,
header .search input:active {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 50%;
  max-width: 300px;
}

header .search img {
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

/* BODY *******************************************************************/

.content-view {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 10px;
}

/* LOGIN ******************************************************************/

.login-form {
  max-width: 30rem;
  margin: 5rem auto;
  padding: 1rem;
}

/* BOOK NAV ***************************************************************/

.books-nav {
  border-bottom: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  overflow-x: scroll;
  padding: .8rem;
  white-space: nowrap;
}

.books-nav a {
  color: rgba(0, 0, 0, .6);
  text-decoration: none;
  transition: color .1s, font-weight .3s;
}

.books-nav a.active,
.books-nav a:hover {
  color: black;
}

.books-nav a + a {
  margin-left: .5rem;
}

/* BOOK ENTRIES PAGE ******************************************************/

.entry-add-form {
  margin: 2rem 0 1rem 0;
}

.entry-input {
  border-bottom: 1px solid #acacac;
  padding: .5rem;
  margin-bottom: .75rem;
  resize: none;
  width: 100%;
}

.entry-group-nav {
  text-align: right;
  font-size: 0;
}

@media screen and (max-width: 35em) {
  .entry-group-nav {
    text-align: center;
  }

  .entry-group-nav .btn {
    width: 33%;
  }
}

.entry-list .entry-item {
  display: block;
  padding: .5rem 0;
}

.entry-list .entry-item + .entry-item {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.entry-list .entry-datum {
  margin-bottom: .1rem;
  font-size: 0;
}

.entry-list .entry-data {
  font-size: .8rem;
  line-height: 1;
  margin: .3rem .3rem 0 0;
  display: inline-block;
  padding: .3rem;
  border: 1px solid rgba(0, 0, 0, .6);
  color: rgba(0, 0, 0, .8);
}

.entry-list-fin {
  text-align: center;
  padding: 3rem;
  font-size: .8rem;
  font-style: italic;
  color: rgba(0, 0, 0, .8);
}

.entry-list-fin::before {
  margin-right: 5px;
  content: '-';
}

.entry-list-fin::after {
  margin-left: 5px;
  content: '-';
}
