/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any
 * plugin's vendor/assets/stylesheets directory can be referenced here using a
 * relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any other CSS/SCSS files in this
 * directory. Styles in this file should be added after the last require_*
 * statement. It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* --blue: #357edd; */
/* --light-gray-border: rgba(0, 0, 0, .2); */
/* --light-gray: rgba(0, 0, 0, .6); */

/* BASE *******************************************************************/

html, body {
  cursor: default;
  margin: 0;
  padding: 0;
}

html, body, textarea, input {
  font-family: PT Mono, monospace;
  font-size: 1rem;
  line-height: 1.4;
}

textarea {
  border-color: rgba(0, 0, 0, .2); /* light-gray */
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: baskerville, serif;
  font-weight: 500;
}

a,
a:visited {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

label {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

input[readonly] {
  background: rgba(0, 0, 0, .1);
  cursor: not-allowed;
}

input[type=checkbox] {
  margin: 0;
}

input[type=text],
input[type=password],
input[type=email] {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: .5rem;
  width: 100%;
}

select {
  border: 1px solid black;
  background: white;
  font-size: 100%;
  height: 36px;
  line-height: 1.15;
  width: 100%;
}

table, tr, td {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

hr {
  margin: 25px 0;
}

/* HELPERS ****************************************************************/

.link,
.link:visited {
  color: #357edd; /* blue */
}

.link:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.field + .field {
  margin-top: 1rem;
}

.field.smaller label {
  font-size: .875rem;
}

.field-error-message {
  font-size: .8rem;
}

.field.btns {
  margin-top: 2rem;
}

.table {
  overflow: scroll;
}

.table table {
  width: 100%;
}

.table th,
.table td {
  padding: .4rem;
  border: 1px solid gray;
}

.controls {
  opacity: 0;
  transition: opacity .1s;
}

.controlled:hover .controls,
.controlled:focus .controls,
.controlled:active .controls {
  opacity: 1;
}

.control {
  position: relative;
  cursor: pointer;
}

.control img {
  width: .8rem;
}

/* BUTTON *****************************************************************/

.btns {
  font-size: 0;
}

.btn {
  border: 1px solid rgba(0, 0, 0, .4);
  box-sizing: border-box;
  transition: background-color .2s;
  font-size: 1rem;
  color: black;
  background: rgba(0, 0, 0, .025);
  display: inline-block;
  padding: .5rem .75rem;
  transition: background-color .1s;
}

.btn.smol {
  font-size: .8rem;
  line-height: 1;
}

.btn.destructive {
  background: #ffeaea;
  border-color: #ff3e3e;
}

.btn.destructive:hover {
  background: #ff3e3e78;
}

.btns .btn + .btn {
  border-left: none;
}

.btns * + a:not(.btn) {
  margin-left: 20px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, .05);
}

.circular {
  background-color: #f0ffffb3;
  border-radius: 50px;
  border: 2px solid #d0d0d0;
  display: inline-block;
  padding: 4px 10px;
  text-align: center;
  vertical-align: middle;
}

.circular.with-background-image {
  background-position: 50%;
  background-size: contain;
}

/* RAILS FLASH ************************************************************/

#notice, #alert {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#notice {
  background: #e7ffe7;
  border-color: #54f054;
}

#alert {
  background: #ffeaea;
  border-color: #ff3e3e;
}

/* RAILS ERRORS ***********************************************************/

.field_with_errors label {
  color: red;
  font-weight: bold;
}

/* HEADER *****************************************************************/

header {
  padding: .8rem;
  border-bottom: 1px solid #c2c2c2;
}

header table,
header tbody {
  width: 100%;
}

header td:nth-child(1) {
  width: 1%;
}

header td:nth-child(3) {
  text-align: right;
}

header .logo {
  display: flex;
}

header .logo img {
  height: 30px;
}

header .search {
  display: flex;
  position: relative;
  margin-right: .5rem;
}

header .search,
header .search input {
  display: inline;
}

header .search input {
  border: none;
  width: 0;
  height: 20px;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  max-width: 300px;
  transition: width .5s;
}

header .search:focus input,
header .search:active input,
header .search input:focus,
header .search input:active {
  width: 50%;
}

header .search img {
  height: 20px;
  cursor: pointer;
  top: 6px;
  position: relative;
}

/* BODY *******************************************************************/

img.captains-log-logo {
  height: 45px;
}

.content-view {
  margin: 0 auto;
  max-width: 50rem;
  padding: 2rem 10px 0 10px;
}

.content-view.slim {
  max-width: 40rem;
}

.content-view > h1,
.content-view > h2 {
  margin-top: 0;
}

/* SEARCH VIEW ************************************************************/

.no-search-results {
  margin-top: 4rem;
}

/* LOGIN ******************************************************************/

.login-form {
  max-width: 30rem;
  margin: 5rem auto;
  padding: 1rem;
}

/* BOOK NAV ***************************************************************/

.books-nav {
  overflow-x: scroll;
  padding: 0 .8rem;
  white-space: nowrap;
}

header .books-nav {
  margin-left: 1rem;
}

.standalone .books-nav {
  border-bottom: 1px solid #c2c2c2;
  padding: .8rem;
}

@media screen and (min-width: 801px) {
  .standalone .books-nav {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header .books-nav {
    display: none;
  }
}

.books-nav a {
  color: rgba(0, 0, 0, .6);
  text-decoration: none;
  transition: color .1s, font-weight .3s;
}

.books-nav a:hover {
  color: black;
}

.books-nav a + a {
  margin-left: .5rem;
}

/* BOOK ENTRIES PAGE ******************************************************/

.entry-input {
  border-bottom: 1px solid #acacac;
  padding: .5rem;
  margin-bottom: .75rem;
  resize: none;
  width: 100%;
}

.entry-group-nav {
  text-align: right;
}

@media screen and (max-width: 35em) {
  .entry-group-nav {
    text-align: center;
  }

  .entry-group-nav .btn {
    width: 33%;
  }
}

.entry-list .entry-item {
  display: block;
  padding: .4rem 0;
}

.entry-list .entry-item table {
  width: 100%;
}

.entry-list .entry-item td:nth-child(1) {
  padding: 5px 10px 5px 0;
}

@media screen and (min-width: 801px) {
  .entry-list .entry-item td:nth-child(1) {
    width: 45%;
  }

  .entry-list .entry-item td:nth-child(2) {
    width: 55%;
    text-align: right;
  }
}

@media screen and (max-width: 800px) {
  .entry-list .entry-item td:nth-child(1) {
    display: block;
  }

  .entry-list .entry-item td:nth-child(2) {
    display: block;
  }
}

.entry-list .entry-item + .entry-item {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.entry-text {
  word-break: break-word;
}

.entry-datum {
  margin-bottom: .1rem;
  font-size: 0;
}

.entry-data {
  border: 1px solid rgba(0, 0, 0, .6);
  color: rgba(0, 0, 0, .8);
  display: inline-block;
  font-size: .8rem;
  line-height: 1;
  margin: .3rem .3rem 0 .0;
  padding: .3rem;
  word-break: break-all;
}

.entry-list .entry-data {
  margin: .3rem 0 0 .3rem;
}

@media screen and (min-width: 801px) {
  .entry-list .entry-data {
    margin: .3rem 0 0 .3rem;
  }
}

@media screen and (max-width: 800px) {
  .entry-list .entry-data {
    margin: .3rem .3rem 0 0;
  }
}

.entry-list-fin {
  text-align: center;
  padding: 3rem;
  font-size: .8rem;
  font-style: italic;
  color: rgba(0, 0, 0, .8);
}

.entry-list-fin::before {
  margin-right: 5px;
  content: '-';
}

.entry-list-fin::after {
  margin-left: 5px;
  content: '-';
}
