.report-variable-fields {
  margin-bottom: 30px;
}

.report-variable-field {
  display: inline-block;
  border: 1px solid #f2f2f2e6;
  padding: 0 15px 15px 15px;
  margin-right: 10px;
}

.report-variable-field label span {
  display: block;
  text-align: center;
  font-weight: 500;
  padding: 10px 0 10px 0;
}

.report-variable-field label select {
  position: relative;
  top: -1px;
}

.report-edit-form {
  padding: 20px 0;
  background: #fafafa40;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.report-edit-form .report-edit-form-label {
  display: block;
}

.report-edit-form .report-edit-form-label span {
  display: block;
  margin-bottom: 2px;
}

.report-edit-form table {
  width: 100%;
}

.report-edit-form select,
.report-edit-form input {
  width: 100%;
  max-width: 300px;
}

.report-edit-form textarea {
  height: 230px;
  width: 100%;
}

.report-edit-form-label {
  display: block;
}

.report-edit-form-label + .report-edit-form-label {
  margin-top: 15px;
}

.output {
  margin-bottom: 20px;
  transition: opacity .2s;
}

.output-loading .output-header::after {
  content: '[loading]';
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: .1rem;
}

.output-loading .output-label,
.output-loading .output-content {
  opacity: .3;
}

.output.value-output {
  margin-right: 20px;
  width: 150px;
}

.output-header {
  position: relative;
}

.output-header:hover .output-edit {
  display: block;
}

.output-edit {
  cursor: pointer;
  display: none;
  font-size: .1rem;
  position: absolute;
  right: 2px;
  top: 2px;
}

.output .output-label {
  font-weight: 500;
  padding: 10px 0 10px 0;
  text-align: center;
}

.output .output-no-data {
  border: 1px solid #f2f2f2e6;
  padding: 25px;
  text-align: center;
}

.value-output {
  display: inline-block;
  border: 1px solid #f2f2f2e6;
}

.value-output-wrapper {
  padding: 0px 0px 10px 0px;
  text-align: center;
  width: 100%;
}

.value-output .value-output-value {
  font-size: 2rem;
}

.table-output .output-label {
  border-left: 1px solid #f2f2f2e6;
  border-right: 1px solid #f2f2f2e6;
  border-top: 1px solid #f2f2f2e6;
}

.table-output-table {
  width: 100%;
}

.table-output-table,
.table-output-table tr,
.table-output-table td {
  border-collapse: collapse;
}

.table-output-table td {
  border: 1px solid #e1e1e1;
  padding: 2px 5px;
}

.table-output-table thead td {
  text-align: center;
}

.table-output-type-timestamp,
.table-output-type-number {
  text-align: right;
}

.table-output-type-boolean {}
.table-output-type-null {}
.table-output-type-string {}
.table-output-type-unknown {}

.query .table-output {
  margin-bottom: 0;
  margin-top: 10px;
}

.chart-output {
  border: 1px solid #f2f2f2e6;
}

.chart-output-wrapper {
  padding: 10px;
}

.chart-container {
  height: 150px;
  width: calc(100% - 20px);
  position: relative;
  margin-left: 20px;
}

.chart-rows {
  left: 10px;
  position: absolute;
  bottom: 0;
}

.chart-row {
  position: absolute;
  background: #98a8ff;
  display: inline-block;
  border-style: solid;
  bottom: -2px;
  border-color: #5c5c5c;
  box-sizing: content-box;
}

.chart-container {
  border-bottom: 2px solid #393939;
  border-left: 2px solid #393939;
}

.chart-row {
  border-bottom-color: #393939;
}

.chart-y-label {
  position: absolute;
  left: 0px;
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: .25rem;
  z-index: 2;
  border-bottom: 1px dashed #494949;
}

.chart-y-label-label {
  position: absolute;
  left: -29px;
  top: -5px;
  display: block;
  text-align: right;
  width: 25px;
}

.chart-y-label-max {
  top: 6px;
}

.chart-y-label-med {
  top: calc(50% + 2px);
}

.chart-y-label-min {
  bottom: 10px;
}
