<div class="cf mb4">
  <% [:captainslog, :fitbit, [:lastfm, :svg]].each do |(service, ext)| %>
    <a class="link black pointer fl mw6 pa2 border-box" href="/connection/initiate/<%= service %>">
      <input class="service-radio dn" type="radio" name="connection[service]" value="<%= service %>" />
      <div class="service-box pa4 ba b--black-10 tc">
        <%= image_tag "#{service}-logo.#{ext || :png}", :class => "h3" %>
        <p class="lh-copy"><%= I18n.t(:"#{service}_connection_description") %></p>
      </div>
    </a>
  <% end %>
</div>
