<%= render "layouts/content-view" do %>
  <div class="measure-wide">
    <div class="f3 baskerville mb3">
      <%= t(:settings) %>
    </div>
    <%= render "form", :user => user %>
  </div>
<% end %>
