<div class="content-view slim">
  <div class="welcome-content-view">
    <%= image_tag("logo.png", :class => "captains-log-logo") %>

    <p><%= t(:intro_message) %></p>

    <%= render "devise/sessions/login_form" %>
  </div>
</div>
