<ul>
  <% shorthands.sort_by(&:priority).reverse.each do |shorthand| %>
    <li>
      <%= link_to "[#{shorthand.priority}] \"#{shorthand.match}\" | \"#{shorthand.text}\" -> \"#{shorthand.expansion}\"", shorthand, :class => "link" %>
    </li>
  <% end %>
</ul>
