<% if notice %>
  <div class="absolute db w-100 ph5-l ph3 pv2 bb b--black-10 bg-washed-green dark-green"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="absolute db w-100 ph5-l ph3 pv2 bb b--black-10 bg-washed-red navy"><%= alert %></div>
<% end %>
