<% if notice %>
  <div class="db w-100 ph5-l pa3 center bb b--black-10 bg-washed-green dark-green"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="db w-100 ph5-l pa3 center bb b--black-10 bg-lightest-blue navy"><%= alert %></div>
<% end %>
