<header>
  <% if current_user %>
    <nav class="flex justify-between pa2 ph2 ph5-l bb b--black-10">
      <a class="flex items-center" href="/" title="Home">
        <img
          src="<%= current_user.icon_url %>"
          class="dib br-100 pa1 ba b--black-10 h2 w2" alt="avatar" />
      </a>
      <div class="flex-grow flex items-center">
        <%= link_to t(:sign_out), destroy_user_session_path,
          :method => :delete,
          :class => "link f6 dib bg-animate hover-bg-black-10 pv2 ph3 br-pill"
        %>
      </div>
    </nav>
  <% end %>
</header>
