<div class="field">
  <%= f.label field, t(field), :class => "f6 lh-copy db" %>
  <% content = yield %>
  <% if content.present? %>
    <%= content %>
  <% else %>
    <%= f.text_field field %>
  <% end %>
  <%= render "form/field_error", :resource => f.object, :field => field %>
</div>
