<div class="field">
  <%= f.label field, t(field) %>
  <% content = yield %>
  <% if content.present? %>
    <%= content %>
  <% else %>
    <%= f.text_field field %>
  <% end %>
  <%= render "layouts/field_error", :resource => f.object, :field => field %>
</div>
