<%= render "layouts/header" %>

<div class="content-view slim">
  <h2><%= t(:user_settings) %></h2>

  <%= render "user/edit_form", :user => user %>

  <hr />

  <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete, :class => "btn destructive" %>
</div>
